ion-content {
  --background: url('../../../assets/icon/fondo-splash.jpg') center center / cover no-repeat fixed;
}

ion-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 0;
}