  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="titulo">
        Información
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-menu-button slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-menu-button>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a la Aplicación de Registro de Asistencia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        ¡Gracias por descargar nuestra aplicación de registro de asistencia!
        Esta aplicación está diseñada para simplificar el proceso de seguimiento de la asistencia
        en diferentes clases.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Paso a Paso: Cómo Utilizar la Aplicación</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Sigue estos simples pasos para comenzar a utilizar la aplicación:
      </p>

      <ol>
        <li>Abre la aplicación en tu dispositivo móvil.</li>
        <li>Inicia sesión con tu cuenta o crea una nueva cuenta si es necesario.</li>
        <li>Explora la pantalla principal para ver los eventos o clases disponibles.</li>
        <li>Selecciona el evento o clase en la que deseas registrar la asistencia.</li>
        <li>Escanea el código QR proporcionado en el lugar del evento utilizando la cámara de tu dispositivo.</li>
        <li>¡Listo! Has registrado la asistencia exitosamente.</li>
      </ol>
    </ion-card-content>
  </ion-card>

</ion-content>
