<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Lector QR
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-menu-button slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="segment1">Escanear</ion-segment-button>
      <ion-segment-button value="segment2">Ingresar</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div class="codigoQR" *ngIf="selectedSegment === 'segment1'">
    <div class="container">
      <div class="camara">
        <ion-icon name="camera-outline" style="font-size: 200px;"></ion-icon>
      </div>
      <ion-button>
        Scaneo de QR
      </ion-button>
    </div>
  </div>
  <div class="codigoManual" *ngIf="selectedSegment === 'segment2'">
    <ion-input label="Ingresa el código" label-placement="floating" fill="outline" placeholder="Ejemplo: ABCDE12345"></ion-input>
    <ion-button>
      Ingresar
    </ion-button>
  </div>
</ion-content>
