.titulo{
    text-align: center;
    padding-left: 80px;
}
.custom-button {
    --background: transparent !important;
    border: none !important;
    padding: 0 !important;
  }
  
  .custom-icon {
    color: #FFB800 !important; /* Cambia #FFB800 al color que desees */
    font-size: 24px !important; /* Tamaño del icono */
  }
  