<ion-content>
  <div class="container">
    <div class="logo">
      <img alt="Duocuc" src="../../assets/icon/LogoQR.png" />
    </div>
    <div class="datos">
      <ion-label>
        RECUPERAR CONTRASEÑA
      </ion-label>
      <ion-input label="Ingrese el Correo" label-placement="floating" fill="outline" type="email"
        placeholder="correo.ejemplo@duocuc.cl"></ion-input>

    </div>
    <div class="botones">
      <ion-button [routerLink]="['/login']">Recuperar contraseña</ion-button><br>
      <ion-button [routerLink]="['/login']">Volver</ion-button>
      
    </div>
  </div>
</ion-content>