<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Formulario de Contacto
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-menu-button slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-icon name="help-circle" class="icono"></ion-icon>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" placeholder="Nombre completo"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="correo" type="email" placeholder="Correo electrónico"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Mensaje</ion-label>
        <ion-textarea [(ngModel)]="mensaje" rows="4" placeholder="Escribe tu mensaje aquí"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="enviarMensaje()">Enviar</ion-button>
</ion-content>
